.button {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    border-radius: 0.375rem;
    background-color: #44403c;
    color: #a8a29e;
}
.button:hover {
    background-color: #57534e;
    color: #f5f5f4;
}
@media (min-width: 768px) {
    .button {
        font-size: 1rem;
    }
}
.input {
    width: 100%;
    padding: 0.25rem;
    border-bottom: 2px solid #d6d3d1;
    border-radius: 0.125rem;
    background-color: #e7e5e4;
    color: #57534e;
    outline: none;
}
.input:focus {
    border-color: #57534e;
}
.input-label {
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #78716c;
}
.new-project {
    width: 35rem;
    margin-top: 4rem;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    margin: 1rem 0;
}
.menu li {
    list-style: none;
}
.menu-cancel {
    color: #292524;
}
.menu-cancel:hover {
    color: #0c0a09;
}
.menu-save {
    padding: 0.5rem 1.5rem;
    border-radius: 0.375rem;
    background-color: #1c1917;
    color: #fafaf9;
}
.menu-save:hover {
    background-color: #0c0a09;
}
.no-projects {
    margin-top: 6rem;
    text-align: center;
    width: 66%;
}
.no-projects img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    margin: 0 auto;
}
.no-projects h2 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #78716c;
    margin: 1rem 0;
}
.no-projects p {
    color: #a8a29e;
    margin-bottom: 1rem;
}
.no-projects button {
    margin-top: 2rem;
}
.sidebar {
    width: 33%;
    padding: 4rem 2rem;
    background-color: #1c1917;
    color: #fafaf9;
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}
@media (min-width: 768px) {
    .sidebar {
        width: 18rem;
    }
}
.sidebar h2 {
    margin-bottom: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.25rem;
    color: #e7e5e4;
}
.project-list {
    margin-top: 2rem;
}
.project-list-item button {
    width: 100%;
    text-align: left;
    padding: 0.25rem 0.5rem;
    border-radius: 0.125rem;
    margin: 0.25rem 0;
    color: #a8a29e;
    background: transparent;
    border: none;
    cursor: pointer;
}
.project-list-item button:hover {
    color: #e7e5e4;
    background-color: #1c1917;
}
.modal h2 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #78716c;
    margin: 1rem 0;
}
.modal p {
    color: #a8a29e;
    margin-bottom: 1rem;
}
.modal-dialog {
    padding: 1rem;
    border: none;
    border-radius: 0.375rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fafaf9;
    color: #1c1917;
}
.modal-dialog::backdrop {
    background-color: rgba(28, 25, 23, 0.9);
}
.modal-form {
    margin-top: 1rem;
    text-align: right;
}
.main {
    height: 100vh;
    margin: 2rem 0;
    display: flex;
    gap: 2rem;
}