.button {
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  border-radius: 0.375rem;
  background-color: #44403c;
  color: #a8a29e;
  &:hover {
    background-color: #57534e;
    color: #f5f5f4;
  }
}
@media (min-width: 768px) {
  .button {
    font-size: 1rem;
  }
}
.input {
  margin: 1rem 0;
  &__label {
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #78716c;
  }
  &__field {
    width: 100%;
    padding: 0.25rem;
    border-bottom: 2px solid #d6d3d1;
    border-radius: 0.125rem;
    background-color: #e7e5e4;
    color: #57534e;
    outline: none;
    &:focus {
      border-color: #57534e;
    }
  }
}
.new-project {
  width: 35rem;
  margin-top: 4rem;
  &__menu {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    margin: 1rem 0;
    li {
      list-style: none;
    }
  }
  &__button {
    &--cancel {
      color: #292524;
      &:hover {
        color: #0c0a09;
      }
    }
    &--save {
      padding: 0.5rem 1.5rem;
      border-radius: 0.375rem;
      background-color: #1c1917;
      color: #fafaf9;
      &:hover {
        background-color: #0c0a09;
      }
    }
  }
}
.no-projects {
  margin-top: 6rem;
  text-align: center;
  width: 66%;
  img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    margin: 0 auto;
  }
  h2 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #78716c;
    margin: 1rem 0;
  }
  p {
    color: #a8a29e;
    margin-bottom: 1rem;
  }
  button {
    margin-top: 2rem;
  }
}
.sidebar {
  width: 33%;
  padding: 4rem 2rem;
  background-color: #1c1917;
  color: #fafaf9;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  &__title {
    margin-bottom: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.25rem;
    color: #e7e5e4;
  }
  &__list {
    margin-top: 2rem;
    list-style: none;
    padding: 0;
  }
  &__item {
    width: 100%;
    margin: 0.25rem 0;
  }
  &__button {
    width: 100%;
    text-align: left;
    padding: 0.25rem 0.5rem;
    border-radius: 0.125rem;
    margin: 0.25rem 0;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &--inactive {
      color: #a8e29e;
      &:hover {
        color: #e7e5e4;
        background-color: #292524;
      }
    }
    &--active {
      background-color: #1c1917;
      color: #e7e5e4;
      &:hover {
        background-color: #0c0a09;
      }
    }
  }
}
@media (min-width: 768px) {
  .sidebar {
    width: 18rem;
  }
}
.modal {
  h2 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #78716c;
    margin: 1rem 0;
  }
  p {
    color: #a8a29e;
    margin-bottom: 1rem;
  }
  &__dialog {
    padding: 1rem;
    border: none;
    border-radius: 0.375rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fafaf9;
    color: #1c1917;
    &::backdrop {
      background-color: rgba(28, 25, 23, 0.9);
    }
  }
  &__form {
    margin-top: 1rem;
    text-align: right;
  }
}
.tasks {
  margin-top: 2rem;
  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #44403c;
    margin-bottom: 1rem;
  }
  &__empty {
    color: #292524;
    margin: 1rem 0;
  }
}
.new-task {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  &__input {
    width: 16rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.125rem;
    background-color: #e7e5e4;
    border: none;
    color: #44403c;
    font: inherit;
  }
  &__button {
    color: #44403c;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;
    &:hover {
      color: #0c0a09;
    }
  }
}
.selected-project {
    width: 35rem;
    margin-top: 4rem;
  &__header {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #d6d3d1;
    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__title {
    font-size: 1.875rem;
    font-weight: bold;
    color: #57534e;
    margin-bottom: 0.5rem;
  }
  &__delete-button {
    color: #57534e;
    background: transparent;
    border: none;
    cursor: pointer;
    font: inherit;
    transition: color 0.2s ease;
    &:hover {
      color: #0c0a09;
    }
  }
  &__date {
    margin-bottom: 1rem;
    color: #a8a29e;
  }
  &__description {
    color: #57534e;
    white-space: pre-wrap;
  }
}
.main {
    height: 100vh;
    margin: 2rem 0;
    display: flex;
    gap: 2rem;
}